<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
    <style>
        nav{
            display: grid;
            grid-template-columns:repeat(6,1fr);
        }
        a{
            text-decoration: none;
            background-color: rgb(54, 165, 209);
            padding: 1.2rem;
            font-size: 1.4rem;
            text-align: center;
            color: black;
            font-family: monospace
        }

        a:hover{
            background-color: rgb(0, 128, 117);
            color: white;
        }

        .active{
            background-color: rgb(162, 11, 221);
            color: white;
        }
    </style>
    
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="">Add</a>
        <a href="">Update</a>
        <a href="">Delete</a>
        <a href="/display"  class="active">display</a>
    </nav>

    <table>
        <tr>
            <th>Seller Id</th>
            <th>Name</th>
            <th>user_name</th>
            <th>password</th>
            <th>email</th>
            <th>Phone No.</th>
            <th>Company Name</th>
        </tr>
        
        <% data.forEach(function(each){ %>
            <tr>
                <td><%= each.s_id %></td>
                <td><%= each.s_name %></td>
                <td><%= each.username %></td>
                <td><%= each.password %></td>
                <td><%= each.email %></td>
                <td><%= each.phone_no %></td>
                <td><%= each.company_name %></td>
            </tr>  
          <% }); 
          %>
        <tr>

        </tr>
    </table>
    
</body>
</html>